beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.3
click==6.7
croniter==0.3.17
Django==1.11.28
django-model-utils==3.0.0
django-reversion==2.0.8
django-reversion-compare==0.7.5
django-rq==0.9.5
django-rq-scheduler==1.1.1
djangorestframework==3.6.3
idna==2.5
lxml==3.7.3
psycopg2==2.7.1
python-dateutil==2.6.0
pytz==2017.2
redis==2.10.5
requests==2.17.3
rq==0.8.0
rq-scheduler==0.7.0
six==1.10.0
urllib3==1.21.1
